<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>
        <div>
            用户名：
            <input type="text" id="username">
        </div>
        <div>
            密码：
            <input type="password" id="password">
        </div>
        <!-- <button id="login">登录-get</button> -->
        <button id="loginpost">登录-post</button>
    </div>

    <script>

        var ologinpost = document.querySelector("#loginpost")
        var username = document.querySelector("#username")
        var password = document.querySelector("#password")

        ologinpost.onclick = () => {
            //post请求
            fetch(`/user/login`, {
                method: "POST",
                //post方法中在body把数据传过去,network里payload有数据说明前端已经把数据发给后端了，后端再处理
                body: `username=${username.value}&password=${password.value}`,
                headers: {
                    "content-type": "application/x-www-form-urlencoded"
                }
            }).then(res => res.json()).then(res => {
                console.log(res)
                if (res.ok === 1) {
                    location.href = "/home"
                } else {
                    alert("错误")
                }
            })
        }
    </script>
</body>

</html>