<header>
    <% if(isShowTitle){ %>
        <h1>校园招聘</h1>
        <%} %>
            <!-- 哪个页面需要显示校园招聘头部就isShowTitle:true -->
            <h1>我是公共头部</h1>
</header>

<style>
    header {
        background-color: yellow;
    }
</style>